# Classs 5
* Tuple
*set
*Dictionary

In [14]:
data = [['1', 'qasim', 'msds'],
        ['2', 'kashif','ai'],
        ['3', 'kasif', 'DS']]
print(data[1][1])
print(data[2][-1])

kashif
DS

# Tuple: can't update the values

In [16]:
names = ("Qasim", "Zohaib", "Asif")
print(names[-1])
print(names[:2])
names

Asif
('Qasim', 'Zohaib')

('Qasim', 'Zohaib', 'Asif')

In [15]:
name[-1] = "Hamza"

TypeError: 'tuple' object does not support item assignment

# Set: to identify the unique value

In [20]:
names={"qasim", 'hamza', 'asif', 'qasim', 'hamza'}
print(names)
names

{'qasim', 'asif', 'hamza'}

{'asif', 'hamza', 'qasim'}

In [19]:
set(['a','b', 'a','a'])

{'a', 'b'}

# Dictionary: to replace the indexing value, as index value by default start from 0 however in the dictionary we can replace from 0 to 1.

In [99]:
#            0      1     2        3    #index
data = ['qasim', 'aslam','AI', '9 pm TO 12 pm'] #values, elements

data = {
        #key :value
        'name':'qasim',
        'fname':'aslam',
        'couse': 'AI',
        'timig': '9 pm to 12 am'
}
print(data)
print(data['timig'])
print(data.keys())
print(data.values())

{'name': 'qasim', 'fname': 'aslam', 'couse': 'AI', 'timig': '9 pm to 12 am'}
9 pm to 12 am
dict_keys(['name', 'fname', 'couse', 'timig'])
dict_values(['qasim', 'aslam', 'AI', '9 pm to 12 am'])

In [104]:
data1 = data.copy()
data1['name'] = 'Zohaib'
print(data1)
print(data)

{'name': 'Zohaib', 'fname': 'aslam', 'couse': 'AI', 'timig': '9 pm to 12 am', 'names': 'Zohaib'}
{'name': 'Zohaib', 'fname': 'aslam', 'couse': 'AI', 'timig': '9 pm to 12 am', 'names': 'Zohaib'}

In [107]:
dict.fromkeys(['id', 'name', 'f_name','couse','timing'])

{'id': None, 'name': None, 'f_name': None, 'couse': None, 'timing': None}

In [114]:
data.get('address')
data.get('name')
data.get('address','na')

'na'

In [117]:
data ={}
data['id'] = 1
data['name'] = 'qasim'
data['f_name'] = 'Aslam'
data

{'id': 1, 'name': 'qasim', 'f_name': 'Aslam'}

In [118]:
data.setdefault('id')

1

In [123]:
print(data)
data.popitem('name')
print(data)

{'id': 1, 'name': 'qasim', 'f_name': 'Aslam'}

TypeError: dict.popitem() takes no arguments (1 given)

In [28]:
data['couse']

'AI'

In [30]:
data['name']

'qasim'

In [32]:
names = list(set(['a', 'a','a', 'b']))
names

['b', 'a']

In [37]:
data.__class__ #attribute

dict

# Tuple method

In [38]:
names = ('a', 'b','c', 'a')

In [43]:
print(names)
print(names.count('a'))
print(names.index('b'))

('a', 'b', 'c', 'a')
2
1

In [46]:
dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [67]:
a = {'a','a','b','c'}
print(a)
a.add('f')
print(a)
print(a.difference({'a','b','x','y','z'}))
a

{'b', 'a', 'c'}
{'b', 'a', 'c', 'f'}
{'c', 'f'}

{'a', 'b', 'c', 'f'}

In [77]:
old_students = {1,8,10}
new_students = {1,3,4,7,9}
print(new_students.difference(old_students))
print(new_students.intersection(old_students).intersection({3,8}))
#print (new_students.diffenence_update)
print(new_students.isdisjoint(old_students))
print(new_students.issubset(old_students))
print(new_students.issuperset(old_students))

{9, 3, 4, 7}
set()
False
False
False

In [94]:
new_students = {1,3,4,7,9}
print(new_students)
new_students.pop() #remove from last position for list we can also provide index number 
print(new_students)
new_students.remove(4) #search and then remove it.
print(new_students)
new_students.update({10,3,20})
print(new_students)

{1, 3, 4, 7, 9}
{3, 4, 7, 9}
{3, 7, 9}
{3, 20, 7, 9, 10}